include README.md
include LICENSE
include pyproject.toml
include shorttext/src/data/shorttext_exampledata.csv
include shorttext/src/utils/stopwords.txt
include shorttext/src/utils/nonneg_stopwords.txt
