include README.md
include LICENSE
include pyproject.toml
include src/shorttext/data/shorttext_exampledata.csv
include src/shorttext/utils/stopwords.txt
include src/shorttext/utils/nonneg_stopwords.txt
