numpy==2.3.5
scipy==1.16.3
joblib==1.5.2
scikit-learn==1.7.2
tensorflow==2.20.0
keras==3.12.0
gensim==4.4.0
pandas==2.3.3
snowballstemmer==3.0.1
transformers==4.57.3
torch==2.9.1
numba==0.63.0
npdict==0.0.5
nptyping==2.5.0
